<!DOCTYPE html>
<html>
<head>
	<title>Sathish Uncles One page Site</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

	<!-- Header Section -->
	<header>
		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light headernav">
			<div class="container">
			  	<a class="navbar-brand" href="#">
			  		<img src="images/logo.png" class="image1-dim">
			  		<img src="images/text.png" class="image2-dim">
			  	</a>
			  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    	<span class="navbar-toggler-icon"></span>
			  	</button>

			  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    	<ul class="navbar-nav ml-auto">
			      		<li class="nav-item">
			        		<a class="nav-link home" href="#home">HOME</a>
			      		</li>
			      		<li class="nav-item">
			        		<a class="nav-link our-services" href="#our_sercices">OUR PRODUCTS</a>
			      		</li>
			      		<li class="nav-item">
			        		<a class="nav-link about-us" href="#about_us">ABOUT US</a>
			      		</li>
			    	</ul>
			  	</div>
			</div>
		</nav>
	</header>

	<!-- Carousel Section -->
	<section id="home">
		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
		  	<div class="carousel-inner">
		    	<div class="carousel-item active">
		      		<img class="d-block w-100 section2-width" src="images/mining1.jpg" alt="First slide">
		    	</div>
		    	<!-- <div class="carousel-item">
		      		<img class="d-block w-100 section2-width" src="images/mining2.jfif" alt="Second slide">
		    	</div>
		    	<div class="carousel-item">
		      		<img class="d-block w-100 section2-width" src="images/mining3.jfif" alt="Third slide">
		    	</div> -->
		  	</div>
		  	<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
		    	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    	<span class="sr-only">Previous</span>
		  	</a>
		  	<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
		    	<span class="carousel-control-next-icon" aria-hidden="true"></span>
		    	<span class="sr-only">Next</span>
		  	</a>
		</div>
	</section>

	<!-- Our Services section -->
	<section class="sandwitch section-dims" id="our_services">
		<div class="container">
			<div class="text-center font-family-header">
				<h1 class="font-default-colour">Our Products</h1>
			</div>
			<div class="display-action">
				<div class="underline-magic2"></div>
			</div>			
			<div class="row sandwitch">
				<div class="col-lg-3">
					<h4 class="font-default-colour text-center font-family-header">Gypsum</h4>
					<div class="font-default font-family-para">
						<img src="images/gypsum.jpg" class="image-default">
					</div>
				</div> 
				<div class="col-lg-3">
					<h4 class="font-default-colour text-center font-family-header">Salt Pan Gypsum</h4>
					<div class="font-default font-family-para">
						<img src="images/saltpangypsum.jpg" class="image-default">
					</div>
				</div>
				<div class="col-lg-3">
					<h4 class="font-default-colour text-center font-family-header">Limestone</h4>
					<div class="font-default font-family-para">
						<img src="images/limestone.jpg" class="image-default">
					</div>
				</div>
				<div class="col-lg-3">
					<h4 class="font-default-colour text-center font-family-header">Manganese Ore</h4>
					<div class="font-default font-family-para">
						<img src="images/mnore.jpeg" class="image-default">
					</div>
				</div>
			</div>
			<div class="row sandwitch">
				<div class="col-lg-3">
					<h4 class="font-default-colour text-center font-family-header">Phosphatic Nodules</h4>
					<div class="font-default font-family-para">
						<img src="images/pn.jpg" class="image-default">
					</div>
				</div> 
				<div class="col-lg-3">
					<h4 class="font-default-colour text-center font-family-header">China Clay</h4>
					<div class="font-default font-family-para">
						<img src="images/chinaclay.jpg" class="image-default">
					</div>
				</div>
				<div class="col-lg-3">
					<h4 class="font-default-colour text-center font-family-header">Fly ash</h4>
					<div class="font-default font-family-para">
						<img src="images/flyash.jpg" class="image-default">
					</div>
				</div>
				<div class="col-lg-3">
					<h4 class="font-default-colour text-center font-family-header">Cement Clinker</h4>
					<div class="font-default font-family-para">
						<img src="images/cementclinker.jpg" class="image-default">
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- About Us Section -->
	<section class="sandwitch section-dims section4-bg" id="about_us">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="text-center font-family-header">
						<h1 class="font-default-colour">About Us</h1>
					</div>
					<div class="display-action">
						<div class="underline-magic2"></div>
					</div>			
					<span class="font-default font-family-para">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;S Jayalakshmi & Co., is a fifty plus years old mining company engaged in business of gypsum, salt pan gypsum, limestone, china clay, manganese ore, phosphatic nodules etc. We also trade in commodities such as steel, cement, salt, fly ash, river sand, cement clinker, rock phosphate etc.
					</span>		
				</div>
			</div>
			<div class="row row-padding">
				<div class="col-lg-6">
					<div class="">
						<img src="images/mining1.jpg" class="about-image">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="">
						<img src="images/mining1.jpg" class="about-image">
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer and Contact Us section -->
	<footer class="sandwitch footer-bg">
	    <div class="container">
	        <div class="footer-styles">
	            <span>
	                <h4 class="font-family-header font-default">User Links</h4>
	                <ul>
	                    <li><a href="#home" class="home font-family-para font-default">Home</a></li>
	                    <li><a href="#our_services" class="our-services font-family-para font-default">Our Services</a></li>
	                    <li><a href="#about_us" class="about-us font-family-para font-default">About Us</a></li>
	                </ul>
	            </span>	
	            <span>
	                <h4 class="font-default font-family-header">Registered Ofiice Address</h4>
	                <div class="font-default font-family-para">&nbsp;&nbsp;5/267, "Sri Lakshmi Bhavanam"<br>Annai Indira Nagar, 1st Main Road,<br>Thoothkudi - 628 002</div>
	            </span>
	            <span>
	            	<h4 class="font-default font-family-header">Contact Details</h4>
	                <div class="font-default font-family-para">&nbsp;&nbsp;sjayalakshmiandco@gmail.com</div>
	                <div class="font-default font-family-para">&nbsp;&nbsp;+91 94450 11729</div>
	                <div class="font-default font-family-para">&nbsp;&nbsp;+91 90877 31729</div>
	                <div class="footer-con">
	                    <!-- <a href="https://wa.me/919099316624" target="_blank"><%= image_tag "whatsapp.png", class: "whatsapp-icon" %></a> -->
	                    <img src="images/facebook.png" class="icon-dims">
	                    <img src="images/whatsapp.png" class="icon-dims">
	                    <img src="images/instagram.png" class="icon-dims">
	                    <!-- <a href="https://www.instagram.com/swastiktradersz/" target="_blank"><%= image_tag "instagram.png", class: "whatsapp-icon" %></a>         -->
	                    <!-- <a href="https://www.facebook.com/cosmeticbeauty55/" target="_blank"><%= image_tag "facebook.png", class: "whatsapp-icon" %></a> -->
	                    <!-- <a href="" target="_blank"><%= image_tag "gmail.png", class: "whatsapp-icon" %></a> -->
	                </div>
	            </span>
	        </div>
	    </div>
	</footer>


	<script>
		$(".home").click(function(){
			$("html,body").animate({scrollTop:0},1000);
		});
		$(".our-services").click(function(){
			$("html,body").animate({scrollTop: $("#our_services").offset().top-80},1000);
		});
		$(".about-us").click(function(){
			$("html,body").animate({scrollTop:$("#about_us").offset().top-80},1000);
		});
	</script>

</body>
</html>